.project__container {
    display: grid;
    gap: 1%;
     /* Adjust the gap as needed */
}

.project_type{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    padding: 2rem 0rem 2rem 0rem
}

a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}


.project_title {
    font-size: 1.8rem;
    position: relative;

}

.project_title::before {
    content: '>';
    color: var(--color-primary);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    right: calc(100% + 10px); /* Adjust the positioning as needed */
}

.project_description {
    align-self: center;
    padding-bottom: 16px;
    position: relative;

}

.project_description p {
    padding: 0rem 2rem 0rem 2rem;
}

.project__container img {
    display: flex;
    width: 20%;
    padding: 0rem 0 1rem 0; /* Adjust padding as needed */
    align-self: center; /* Center the image vertically */
}

.project_link {
    margin: 2rem 0rem 2rem 0;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    }

    .project_images {
        display: flex;
        justify-content: center; /* Center the items horizontally */
        gap: 2%;
        padding: 2rem 0rem 2rem 0;
    }

    .bigger-images img {
        display: flex;
        width: 90%;
        max-width: 600px; /* Adjust the width as needed */
        height: auto;
        display: block;
        margin: 0 auto;
      }


#projects {
    margin-top: 2rem;
    margin-bottom: 15rem; /* Increase margin to make the section longer */
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    .project_images {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: center; /* Center the items horizontally */
        gap: 2%;
    }
    
  
}
/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
    .project__container {
       padding-bottom: 30rem;
    }

    .project_title::before{
        top: 0%;
    }

    .project_header {
        padding-left: 5%;
    }

    .project_images {
        flex-direction: column; /* Change to column layout for small devices */
        align-items: center; /* Center the items vertically for small devices */
    }

    .pokedex,
    .metaintro,
    .spacelab img { 
        align-items: center;
    }
}
