.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  padding-top: 2rem;
}

.about_description {
  text-align: justify;
  align-self: center;
  padding: 5rem 0 2rem 0;

}

/* ========== ME ========== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 0 0 0;
  justify-self: center; /* Center the element horizontally */
}

.me img {
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Maintain aspect ratio */
}

.technologies {
  padding: 1rem 0rem 1rem 0rem; /* top right bottom left */
}

ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
  list-style-type: none;
  padding: 0rem 0rem 1rem 0rem;
}

.technologies_list li {
  display: flex;
  align-items: center;
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .about__container {
    height: fit-content;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .me {
    width: 50%; /* Set width to auto to prevent image cutoff */
   
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .about__container {
    display: grid; /* Ensure that the display remains grid for small devices */
    margin-top: 2rem;
  }

  .about_description {
    margin-bottom: 2rem;
  }
  
  .me {
    width: 40%;
    padding-bottom: 0;
    height: min-content;
  }
}
